<!DOCTYPE html>
<html ng-app="sonyApp">

  <title>Consumer Electronics</title>
<head>
  <meta charset="utf-8">
      <link rel="stylesheet" href="./bundle.css">
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
      <link rel="stylesheet" href="./font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
</head>
<style>
    body {
      font-family: 'Asap', sans-serif;

    }
  </style>
<body>
 <div class="header">
   <span class="sony">SONY</span>
   <span class="Electronics"  ng-mouseenter="showElectronics = true" ng-init="showElectronics = false">Electronics<span class="downArrow"></span></span>
   <span class="Playstation" ><a class="Playstation"href="https://www.sony.com/electronics/playstation">Playstation</a></span>
   <span class="Entertainment"  ng-mouseenter="showEntertainment = true" ng-init="showEntertainment = false">Entertainment<span class="downArrow"></span></span>
   <span class="Support"  ng-mouseenter="showSupport = true" ng-init="showSupport = false">Support<span class="downArrow"></span></span>
 </div>
 <div class="header2">
   <span class="signIn">Sign In<span class="downArrow"></span></span>
   <span class="search"></span>
 </div>




    <!-- <div class="supportDropMenu" ng-mouseenter="showPopover()">
      <span class="dropMenuSupport">Support</span> <span class="dropMenuRegister">Register a Product</span> <span class="dropMenuCommunity">Community</span>
      </div> -->
<!-- <div ng-model="hover" ng-init="hover=false">
  <div ng-if="hover" class="animate-if"> -->
      <div class="ELECdropDownContainer" ng-show="showElectronics" ng-mouseleave="showElectronics = false">
        <div class="ELECdropDownTop">
              <div class="televisionshometheaters">
                <ul class=""><p id="title">Televisions</p>
                  <li>Televisions</li>
                  <li>Home Theater & Sound Bars</li>
                  <li>Projectors</li>
                  <li>Blu-ray & DVD Players</li>
                </ul></br>
                  <p id="viewAll">View All</p>
                </div>

                <div class="audio">
                  <ul class=""><p id="title">Audio</p>
                    <li>Headphones</li>
                    <li>MP3 Players</li>
                    <li>Wireless Speakers</li>
                    <li>High-Resolution Audio</li>
                  </ul></br>
                  <p id="viewAll">View All</p>
                </div>
            
                <div class="cameras">
                <ul class=""><p id="title">Cameras</p>
                  <li>Interchangeable-lens Cameras</li>
                  <li>Lenses</li>
                  <li>Compact Cameras</li>
                  <li>Lens-Style Cameras</li>
                </ul></br>
                <p id="viewAll">View All</p>
                </div>
              
                <div class="mobileDevices">
                <ul class=""><p id="title">Mobile Devices</p>
                  <li>Cell Phones</li>
                  <li>Tablets</li>
                  <li>Wearable Technology</li>
                  <li>Digital Paper</li>
                </ul></br>
                <p id="viewAll">View All</p>
                </div>
              </div>

            </br>
                <div class="ELECdropDownBottom"> 
                  <div class="videoCamera">
                  <ul class=""><p id="title">Video Cameras</p>
                    <li>Camcorders</li>
                    <li>Action Cameras</li>
                    <li>Music Video Recorders</li>
                    <li>Profesional Camcorders</li>
                  </ul></br>
                      <p id="viewAll">View All</p>
                  </div>
                  <div class="car">
                  <ul class=""><p id="title">Car and Marine</p>
                    <li>In-Car Recievers & Players</li>
                    <li>In-Car Speakers & Ampliphiers</li>
                    <li>Marine Audio</li>
                    <li>Automotive OEM Audio</li>
                  </ul>  </br>
                      <p id="viewAll">View All</p>              
                  </div>
                  <div class="energystorage">
                  <ul class=""><p id="title">Energy, Storage & Cables</p>
                    <li>Batteries</li>
                    <li>Memory Cards & Flash Drives</li>
                    <li>Cables</li>
                  </ul></br>
                      <p id="viewAll">View All</p>                
                  </div>
            </div>
      </div>

      


                
       

     </div>
     <div class="entertainmentDropMenu" ng-show="showEntertainment" ng-mouseleave="showEntertainment = false">
       <div class="entertainmentLeft">
         <span class="videoGames">Video Games<img id="funImage" src="images/videogames.png"></img></span>
         <span class="movies">Movies & TV Shows<img id="funImage" src="images/movies.png"></img></span>
         <span class="music">Music<img id="funImage" src="images/music.png"></img></span>
       </div>
        <div class="entertainmentRight"> 
          <p>Phone and Tablet Apps</br> The best of what Sony has to offer on iOS or Android. </p></br><p>Download our Apps</p>
        </div>
     </div>
     <div class="supportDropMenu" ng-show="showSupport" ng-mouseleave="showSupport = false">
       <h2 class="support">Support
          <img src="images/support.jpg"></img>

      </h2>
      <span class="register">Register a Product
          <img src="images/register-a-product.png">

      </span>
      <span class="community">Community
          ><img src="images/community.png">

      </span>
     </div>
    <ui-view></ui-view>
  <div class="footer">
    <div class="footer-top-container">
      <div class="footer-top-top">
        <div class="column-1">
          <h3>Where To Buy</h3>
          <div>
            <ul>
              <li>See Authorized Retailers</li>
            </ul>
          </div>
        </div>
        <div class="column-2">
          <h3>Sony Rewards</h3> 
          <div>
            <ul>
              <li>Join Now</li>
              <li>Learn More</li>
              <li>Manage Account</li>
            </ul>
          </div>   
        </div>
        <div class="column-3">
          <h3>News & Info</h3>
          <div>
            <ul>
              <li>Press Releases</li>
              <li>About Sony</li>
              <li>Product Support</li>
              <li>Press Releases</li>
              <li>Product Registration</li>
              <li>Newslettere sign up</li>
              <li>Accessibility and Usability</li>
            </ul>
          </div>    
        </div>
        <div class="column-4">
          <h3>Other Sites</h3>
          <div>
             <ul>
              <li>PlayStation</li>
              <li>Sony Pictures</li>
              <li>Sony Music</li>
              <li>Sony Mobile</li>
              <li>Crackle</li>
              <li>Sony Square NYC</li>
            </ul>
          </div>  
        </div>
      </div>
      <div class="footer-top-bottom">
        <div class="footer-top-bottom-left">
          <div class="flag-container">
            <img ng-src="/images/flag.gif" alt=""></img>
            <p>United States</p>
          </div>
        </div>
        <div class="footer-top-bottom-middle">
          <p>For Professionals</p>
          <p>Careers</p>
          <p>Contact Us</p>
          <p>Company Info</p>
          <p>Voluntary Recall</p>
        </div>
        <div class="footer-top-bottom-right">
          <div class="social-media-box">
            <i class="fa fa-facebook" aria-hidden="true"></i> 
          </div>
          <div class="social-media-box">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
          <div class="social-media-box">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
          <div class="social-media-box">
            <i class="fa fa-tumblr" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-container">
        <p class="top-text">2017 SONY CORPORATION OF AMERICA</p>
        <p class="bottom-text">TERMS AND CONDITIONS  PRIVACY POLICY/YOUR CALIFORNIA PRIVACY RIGHTS</p>
    </div>
  </div>
  
  

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0/angular-ui-router.js"></script>
    <script src="./bundle.js"></script>
</body>

</html>