* {
  margin: 0;
}
.header {
  height: 58px;
  width: 100%;
  background-color: rgb(0,0,0);
  color: white;
  justify-content: space-between;
}

.sony {
  position: absolute;
  top: 16px;
  left: 60px;
  font-weight:bold;
}
.Electronics {
  position: absolute;
  top: 16px;
  left: 120px;
}
.Playstation {
  position: absolute;
  top: 16px;
  left: 210px;
}
.Entertainment {
  position: absolute;
  top: 16px;
  left: 290px;
}
.Support {
  position: absolute;
  top: 16px;
  left: 400px;
}
.signIn {
  position: absolute;
  top: 16px;
  right: 110px;

}
.search {
  position: absolute;
  top: 16px;
  right: 50px;
  height: 34px;
  width: 34px;
  background-color: grey;
  background-image: url('/images/magnifyingGlass.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;

       -webkit-filter: invert(100%); filter: invert(100%);
       -ms-transform: rotate(45deg); /* IE 9 */
       -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
       transform: rotate(90deg);
}
.downArrow {
  position: absolute;
  top: 9px;
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
color: white;
border-top: 5px solid grey;
}

.mainBackground {
  background-image: url('mainBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.allElectronics {
  color: white;
  position: absolute;
  top: 120px;
  left: 30px;
  font-size: 1.75em;
}
.description {
  color: white;
  position: absolute;
  top: 170px;
  left: 30px;
  font-size: 15px;
}


.ELECdropDownContainer{
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 900px;  
  margin: auto;
  position: absolute;
  top: 58px;
  z-index: 5;
  background-color: white;
}

// .ELECdropDownBottom {
//   display: flex;
//   justify-content: space-between;
//   width: 80%;
//   height: 400px;  
//   margin: auto;
// }
ul {
   list-style-image: url('rightcheverons.png'); 
   margin-bottom: 5px;  
}
  li {
    margin-bottom: 10px;
  }
.audio,
.cameras,
.mobileDevices,
.videoCameras,
.videoGames,
.phonetabletApps,
.supportDropMenu,
.televisionshometheaters {
  width: 30%;
  // float: left;
  height: 200px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
 }
 .supportDropMenu{
  // display: relative;
  justify-content: space-between;
  width: 70%;
  // height: 900px;  
  margin-left: auto;
  
  // text-align: center;
}
 .support,
 .register, 
 .community {
  width: 30%;
  // float: left;
  height: 200px;
  position: relative;
  // display: inline-flex;
  // flex-direction: row;
  text-align: center;
 }
 .supportBox,
 .registerBox,
 .comminutyBox {
 height: 61px;
 width: 112px;
 background-color: grey;
 }
// .audio {
//   width: 200px;
//   float: left;
//   height: 200px;
//   position: relative;
//     border-left: 1px grey solid;
// }
// .cameras{
//   width: 200px;
//   float: left;
//   height: 200px;
//   position: relative;
//   border-left: 1px grey solid;
// }
// .mobileDevices {
//     width: 200px;
//   float: left;
//   height: 200px;
//   position: relative;
//   border-left: 1px grey solid;
// }
// .videoCamera {
//       width: 200px;
//   float: left;
//   height: 200px;
//   position: relative;
// }
#viewAll {
   position: absolute; 
  bottom: 0px;
  color: blue;
  width: 100px;
}
#title {
  color: blue;
  margin-bottom: 15px;
  width: 100px;

}


.footer {
  width: 100%;
  height: 510px;
  background-color: #1F2024;

  .footer-top-container { 
    width: 100%;
    height: 404px;
    border-bottom: 1px solid #3C3C42;
    

    .footer-top-top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 306px;
      color: white;

      .column-1 {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        padding-top: 60px;

       
        

        h3 {
          color: #83838F;
          padding-bottom: 26px;
        }

        ul li {
          list-style-type: none;
          padding-bottom: 12px;
          font-size: 14px;
        }
      }

      .column-2 {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        padding-top: 60px;

        

        h3 {
          color: #83838F;
          padding-bottom: 26px;
        }

        ul li {
          list-style-type: none;
          padding-bottom: 12px;
          font-size: 14px;
        }
      }

      .column-3 {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        padding-top: 60px;
        
        
        

        h3 {
          color: #83838F;
          padding-bottom: 26px;
        }

        ul li {
          list-style-type: none;
          padding-bottom: 12px;
          font-size: 14px;
        }
      }

      .column-4 {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        padding-top: 60px;

        

        h3 {
          color: #83838F;
          padding-bottom: 26px;
        }

        ul li {
          list-style-type: none;
          padding-bottom: 12px;
          font-size: 14px;
        }
      }
    }

    .footer-top-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 98px;


      .footer-top-bottom-left {
        display: flex;
        align-items: center;
        width: 40%;
        height: 100%;
        padding-left: 164px;

        .flag-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 203px;
          height: 40px;
          background-color: #3C3C42; 
          color: white;
          


          img {
            width: 20px;
            height: 15px;
            
          }
          
          p {
            padding-left: 12px;
          }
        }
      }

      .footer-top-bottom-middle {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 38%;
        height: 100%;
        color: white;
        padding-right: 10px;


        p {
          padding-right: 16px;
          font-size: 14px;
        }
      }

      .footer-top-bottom-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 22%;
        height: 100%;
        


        .social-media-box {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 34px;
          background-color: #3C3C42;
          margin-left: 3px;
         

          i {
            font-size: 18px;
            color: white;
            
          }
        }
      }
    }
  }

  .footer-bottom-container {
    width: 100%;
    height: 106px;
    padding-top: 36px;


    .top-text {
      color: #83838F;
      font-size: 10px;
      padding-left: 164px;
      letter-spacing: 1.2px;
    }

    .bottom-text {
      color: white;
      font-size: 10px;
      padding-top: 8px;
      padding-left: 164px;
      letter-spacing: 1.2px;
      line-height: 14px;
      }
    }
  }
